		<h1>Editar Usuario</h1>

		<%= render 'formupdate' %>

		<%= link_to 'Ver', user_control_panel_path(@user_control_panel) , class: "btn btn-success" %>
		<%= link_to 'Atrás', user_control_panels_path , class: "btn btn-danger" %>

		</div>
	</div>  
</div>

