<div class="row">
	<div>
  	<%= render "partials/notices" %>
	</div>
	<h2>Bienvendido</h2><%= current_user.full_name.capitalize %> <%= current_user.full_last_name.capitalize %> Nro :<%= current_user.credential %>

	<center><img src="images/Logo_Venvidrio.png" class="img-responsive" id="logo"></center>

</div>
