/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}




/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
.breadcrumb li {font-size: 14px;}
.breadcrumb a {color: rgba(66, 139, 202, 1);}
.breadcrumb a:hover {color: rgba(42, 100, 150, 1);}
.breadcrumb>.active {color: rgba(153, 153, 153, 1);}
.breadcrumb>li+li:before {color: rgba(204, 204, 204, 1); content: "\276D\00a0";}
.breadcrumb {
  padding: 0 15px;
  background: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 0;
}
.box-header {
  color: #505559;
  position:relative;
  overflow: hidden;
  height: 24px;
  border-bottom: 1px solid #ccc;
  background-color: #eaeaea;
  background-image: -webkit-linear-gradient(top, #eaeaea, #e0e0e0);
  background-image:    -moz-linear-gradient(top, #eaeaea, #e0e0e0);
  background-image:     -ms-linear-gradient(top, #eaeaea, #e0e0e0);
  background-image:      -o-linear-gradient(top, #eaeaea, #e0e0e0);
  background-image:         linear-gradient(to bottom, #eaeaea, #e0e0e0);
}
.box-icons {
  position: absolute;
  top:0;
  right:0;
  z-index: 9;
}
.box-icons a {
  cursor: pointer;
  text-decoration: none !important;
  border-left: 1px solid #FBFBF0;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  width: 28px;
  display: block;
  float: left;
  text-align: center;
  color: #505559;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.box-icons a:hover {background:#FBFBF0;color:#505559;} {
  width: auto;
  padding: 0 10px;
  font-size: 14px;
}
.box-name, .modal-header-name {
  padding-left: 15px;
  line-height: 24px;
}
.box-name {
  margin-right:5px;
}
.btn-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.25);
}
.btn-app {
  width: 50px;
  height: 50px;
  padding: 0;
  font-size: 14px;
}
.btn-app-sm {
  width: 30px;
  height: 30px;
  padding: 0;
  font-size: 14px;
}



